body {
  margin: 0;
}

.wrapper {
  width: auto;
  height: auto;
  margin: 32px;
  margin-bottom: 0px;
  background-color: #ffaaaa;
  padding-left: 100px;
  padding-top: 16px;
  padding-bottom: 24px;
  display: block;
}

.section {
  background-color: #aaaaff;
}

table {
  border-spacing: 0;
}
th {
  text-align: left;
  width: 20vw;
}

table.section {
  border-spacing: 4px 20px;
}
td input {
  /* width: 100%; */
  /* height: 40px; */
}
